<head>
  <title>APP | LinhSa Fitness</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= vite_stylesheet_tag "application" %>
  <%= vite_javascript_tag "application" %>
  <%= render "layouts/shared/dark_mode_class" %>
</head>
