<header class="flex justify-between items-center fixed top-2 inset-x-0 w-full px-8 z-50">
  <div class="basis-1/12 flex justify-center items-center">
    <%= link_to root_path, class: "" do %>
      <%= inline_svg_tag "logo.svg", class: "w-16 h-16" %>
    <% end %>
  </div>

  <nav class="hidden lg:flex relative rounded-full border bg-zinc-950 border-white/[0.2] shadow-input justify-center space-x-4 px-8 py-6">
    <%= link_to "Câu Lạc Bộ", "#club", class: "hover:opacity-[0.9] text-white" %>
    <%= link_to "Lịch Tập", "#schedule", class: "hover:opacity-[0.9] text-white" %>

    <%= render Dropdown::Hover.new(name: "Bộ Môn", href: "#course") do %>
      <div class="text-sm grid grid-cols-2 gap-10 p-4">
        <%= link_to "#abc", class: "flex space-x-2" do %>
          <%= image_tag "placeholder.jpg", class: "flex-shrink-0 rounded-md shadow-2xl", width: "140px", height: "70px"%>
          <div>
            <h4 class="text-xl font-bold mb-1 text-white">
              {title}
            </h4>
            <p class="text-sm max-w-[10rem] text-neutral-300">
              {description}
            </p>
          </div>
        <% end %>

        <%= link_to "#abc", class: "flex space-x-2" do %>
          <%= image_tag "placeholder.jpg", class: "flex-shrink-0 rounded-md shadow-2xl", width: "140px", height: "70px"%>
          <div>
            <h4 class="text-xl font-bold mb-1 text-white">
              {title}
            </h4>
            <p class="text-sm max-w-[10rem] text-neutral-300">
              {description}
            </p>
          </div>
        <% end %>

        <%= link_to "#abc", class: "flex space-x-2" do %>
          <%= image_tag "placeholder.jpg", class: "flex-shrink-0 rounded-md shadow-2xl", width: "140px", height: "70px"%>
          <div>
            <h4 class="text-xl font-bold mb-1 text-white">
              {title}
            </h4>
            <p class="text-sm max-w-[10rem] text-neutral-300">
              {description}
            </p>
          </div>
        <% end %>

        <%= link_to "#abc", class: "flex space-x-2" do %>
          <%= image_tag "placeholder.jpg", class: "flex-shrink-0 rounded-md shadow-2xl", width: "140px", height: "70px"%>
          <div>
            <h4 class="text-xl font-bold mb-1 text-white">
              {title}
            </h4>
            <p class="text-sm max-w-[10rem] text-neutral-300">
              {description}
            </p>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= link_to "Gói Tập", "#plans", class: "hover:opacity-[0.9] text-white" %>
    <%= link_to "Về Chúng Tôi", "#about", class: "hover:opacity-[0.9] text-white" %>
  </nav>

  <div class="hidden lg:flex basis-1/12 justify-center items-center">
    <button class="relative inline-flex h-12 overflow-hidden rounded-full p-[1px] focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50">
      <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]" ></span>
      <span class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-slate-950 px-3 py-1 text-sm font-medium text-white backdrop-blur-3xl">
          Đăng ký đi
      </span>
    </button>
  </div>

  <div
    class="group flex lg:hidden"
    data-controller="set-state"
    data-mobile-menu-open="false"
  >
    <button type="button"
            data-action="set-state#setState"
            data-set-state-key-param="mobile-menu-open"
            data-set-state-value-param="true"
            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
    >
      <span class="sr-only">Open main menu</span>
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>

    <div class="group-data-[mobile-menu-open=false]:hidden group-data-[mobile-menu-open=true]:block lg:hidden" role="dialog" aria-modal="true">
      <div class="fixed inset-0 z-50"></div>
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-zinc-950 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">LinhSa Fitness</span>
            <%= inline_svg_tag "logo.svg", class: "w-8 h-auto" %>
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-300"
                  data-action="set-state#setState"
                  data-set-state-key-param="mobile-menu-open"
                  data-set-state-value-param="false"
          >
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <%
                [
                  {
                    path: "#clubs",
                    text: "Câu Lạc Bộ"
                  },
                  {
                    path: "#schedules",
                    text: "Lịch Tập"
                  },
                  {
                    path: "#courses",
                    text: "Bộ Môn"
                  },
                  {
                    path: "#plans",
                    text: "Gói Tập"
                  },
                  {
                    path: "#about",
                    text: "Về Chúng Tôi"
                  }
                ].each do |item|
              %>
                <%= link_to item[:text], item[:path], class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-100 hover:bg-zinc-900" %>
              <% end %>
            </div>
            <div class="py-6">
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-100 hover:bg-zinc-900">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
