<h2 class="px-4 lg:px-12 shrink-0 text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl"><%= t "copy.guests" %></h2>

<%= turbo_stream_from "import_guest_#{@import_file.id}" %>

<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
  <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
    <!-- Start coding here -->
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg">
      <div class="flex flex-col items-center justify-between p-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4">
        <%= render "import_progress", percent: 0 %>
      </div>
      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <%= render "admin/guests/table_header" %>
          <tbody>
          <%= render partial: "admin/guests/guest", collection: @guests, as: :guests %>
          </tbody>
        </table>

        <%#<%= render Pagy::Component.new(@pagy) %>
      </div>
    </div>
  </div>
</section>
