<!DOCTYPE html>
<html>
<head>
  <title>APP | LinhSa Fitness</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= vite_stylesheet_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
<%= vite_javascript_tag "index.jsx", "data-turbo-track": "reload", type: "module" %>
<%= yield %>
</body>
</html>
