<!DOCTYPE html>
<html>
<head>
  <title>LinhSa Fitness</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <%= render "layouts/shared/dark_mode_class" %>
</head>
<body>
<%= render "layouts/application/nav" %>

<main class="p-4 md:ml-64 h-auto pt-20">
  <%= yield %>
</main>
</body>
</html>
