<!DOCTYPE html>
<html>
<head>
  <title>LinhSa Fitness</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <%= render "layouts/shared/dark_mode_class" %>
</head>
<body>
<%= render "shared/flash_container" %>
<%= render Marketing::Header.new %>

<main class="mt-24 max-w-4xl mx-auto">
  <%= yield %>
</main>

<%= render Marketing::Footer.new %>

<% if "marketing#index" == "#{controller_name}##{action_name}" %>
  <%= turbo_frame_tag "modal", data: { "turbo-permanent": true }, src: new_guest_path, cached: false %>
<% else %>
  <%= turbo_frame_tag "modal" %>
<% end %>
<div></div>
</body>
</html>
